<p id="notice"><%= notice %></p>

<p>
  <strong>Meetingregistrationno:</strong>
  <%= @security_meeting_detail.MeetingRegistrationNo %>
</p>

<p>
  <strong>Constructionno:</strong>
  <%= @security_meeting_detail.ConstructionNo %>
</p>

<p>
  <strong>Meetingdate:</strong>
  <%= @security_meeting_detail.MeetingDate %>
</p>

<p>
  <strong>Constructiontitle:</strong>
  <%= @security_meeting_detail.ConstructionTitle %>
</p>

<p>
  <strong>Xx:</strong>
  <%= @security_meeting_detail.XX %>
</p>

<p>
  <strong>Contractorcd:</strong>
  <%= @security_meeting_detail.ContractorCD %>
</p>

<p>
  <strong>Contractorname:</strong>
  <%= @security_meeting_detail.ContractorName %>
</p>

<p>
  <strong>Workplandate:</strong>
  <%= @security_meeting_detail.WorkPlanDate %>
</p>

<p>
  <strong>Worktimecd:</strong>
  <%= @security_meeting_detail.WorkTimeCD %>
</p>

<p>
  <strong>Worksite:</strong>
  <%= @security_meeting_detail.WorkSite %>
</p>

<p>
  <strong>Workcontentskbn:</strong>
  <%= @security_meeting_detail.WorkContentsKbn %>
</p>

<p>
  <strong>Workcontents:</strong>
  <%= @security_meeting_detail.WorkContents %>
</p>

<p>
  <strong>Kmcd:</strong>
  <%= @security_meeting_detail.KmCD %>
</p>

<p>
  <strong>Lineclosurestart:</strong>
  <%= @security_meeting_detail.LineClosureStart %>
</p>

<p>
  <strong>Lineclosureend:</strong>
  <%= @security_meeting_detail.LineClosureEnd %>
</p>

<p>
  <strong>Maintenancecarstart:</strong>
  <%= @security_meeting_detail.MaintenanceCarStart %>
</p>

<p>
  <strong>Maintenancecarend:</strong>
  <%= @security_meeting_detail.MaintenanceCarEnd %>
</p>

<p>
  <strong>Maintenanceworkstart:</strong>
  <%= @security_meeting_detail.MaintenanceWorkStart %>
</p>

<p>
  <strong>Maintenanceworkend:</strong>
  <%= @security_meeting_detail.MaintenanceWorkEnd %>
</p>

<p>
  <strong>Usestopstart:</strong>
  <%= @security_meeting_detail.UseStopStart %>
</p>

<p>
  <strong>Usestopend:</strong>
  <%= @security_meeting_detail.UseStopEnd %>
</p>

<p>
  <strong>Worktimezonestart:</strong>
  <%= @security_meeting_detail.WorkTimeZoneStart %>
</p>

<p>
  <strong>Worktimezonesend:</strong>
  <%= @security_meeting_detail.WorkTimeZoneSEnd %>
</p>

<p>
  <strong>Otherstart:</strong>
  <%= @security_meeting_detail.OtherStart %>
</p>

<p>
  <strong>Otherend:</strong>
  <%= @security_meeting_detail.OtherEnd %>
</p>

<p>
  <strong>Linename:</strong>
  <%= @security_meeting_detail.LineName %>
</p>

<p>
  <strong>Distributeelectricalstop:</strong>
  <%= @security_meeting_detail.DistributeElectricalStop %>
</p>

<p>
  <strong>Usedkbn:</strong>
  <%= @security_meeting_detail.UsedKbn %>
</p>

<p>
  <strong>Entrymethodkbn:</strong>
  <%= @security_meeting_detail.EntryMethodKbn %>
</p>

<p>
  <strong>Tcusekbn:</strong>
  <%= @security_meeting_detail.TCUseKbn %>
</p>

<p>
  <strong>Tccontentsofuse:</strong>
  <%= @security_meeting_detail.TCContentsOfUse %>
</p>

<p>
  <strong>Shortcircuitflg:</strong>
  <%= @security_meeting_detail.ShortCircuitFlg %>
</p>

<p>
  <strong>Shortcircuitkbn:</strong>
  <%= @security_meeting_detail.ShortCircuitKbn %>
</p>

<p>
  <strong>Psleflg:</strong>
  <%= @security_meeting_detail.PSLEFlg %>
</p>

<p>
  <strong>Pslekbn:</strong>
  <%= @security_meeting_detail.PSLEKbn %>
</p>

<p>
  <strong>Tcflg:</strong>
  <%= @security_meeting_detail.TCFlg %>
</p>

<p>
  <strong>Tckbn:</strong>
  <%= @security_meeting_detail.TCKbn %>
</p>

<p>
  <strong>Ottwflg:</strong>
  <%= @security_meeting_detail.OTTWFlg %>
</p>

<p>
  <strong>Ottwkbn:</strong>
  <%= @security_meeting_detail.OTTWKbn %>
</p>

<p>
  <strong>Variouscarsusedkbn:</strong>
  <%= @security_meeting_detail.VariousCarsUsedKbn %>
</p>

<p>
  <strong>Stationmanagername:</strong>
  <%= @security_meeting_detail.StationManagerName %>
</p>

<p>
  <strong>Confirmtime:</strong>
  <%= @security_meeting_detail.ConfirmTime %>
</p>

<p>
  <strong>Hotlinework:</strong>
  <%= @security_meeting_detail.HotLineWork %>
</p>

<p>
  <strong>Orbitconstructionmanagercd:</strong>
  <%= @security_meeting_detail.OrbitConstructionManagerCD %>
</p>

<p>
  <strong>Contactinfo:</strong>
  <%= @security_meeting_detail.ContactInfo %>
</p>

<p>
  <strong>Orbitchiefmanagercd:</strong>
  <%= @security_meeting_detail.OrbitChiefManagerCD %>
</p>

<p>
  <strong>Linecloseresponsiblecd:</strong>
  <%= @security_meeting_detail.LineCloseResponsibleCD %>
</p>

<p>
  <strong>Orbitconstructionsafetyresponsibilitymanager:</strong>
  <%= @security_meeting_detail.OrbitConstructionSafetyResponsibilityManager %>
</p>

<p>
  <strong>Constructionmachinery:</strong>
  <%= @security_meeting_detail.ConstructionMachinery %>
</p>

<p>
  <strong>Orbitworkresponsiblecd:</strong>
  <%= @security_meeting_detail.OrbitWorkResponsibleCD %>
</p>

<p>
  <strong>Weldworkresponsible:</strong>
  <%= @security_meeting_detail.WeldWorkResponsible %>
</p>

<p>
  <strong>Constructionlimitresponsible:</strong>
  <%= @security_meeting_detail.ConstructionLimitResponsible %>
</p>

<p>
  <strong>Trainwatch:</strong>
  <%= @security_meeting_detail.TrainWatch %>
</p>

<p>
  <strong>Trafficregulator:</strong>
  <%= @security_meeting_detail.TrafficRegulator %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @security_meeting_detail.Guide %>
</p>

<p>
  <strong>Linecloseresponsiblename:</strong>
  <%= @security_meeting_detail.LineCloseResponsibleName %>
</p>

<p>
  <strong>Startxx:</strong>
  <%= @security_meeting_detail.StartXX %>
</p>

<p>
  <strong>Startcontract:</strong>
  <%= @security_meeting_detail.StartContract %>
</p>

<p>
  <strong>Startstart:</strong>
  <%= @security_meeting_detail.StartStart %>
</p>

<p>
  <strong>Startcontact:</strong>
  <%= @security_meeting_detail.StartContact %>
</p>

<p>
  <strong>Startstopflg:</strong>
  <%= @security_meeting_detail.StartStopFlg %>
</p>

<p>
  <strong>Startstop:</strong>
  <%= @security_meeting_detail.StartStop %>
</p>

<p>
  <strong>Endxx:</strong>
  <%= @security_meeting_detail.EndXX %>
</p>

<p>
  <strong>Endcontract:</strong>
  <%= @security_meeting_detail.EndContract %>
</p>

<p>
  <strong>Endend:</strong>
  <%= @security_meeting_detail.EndEnd %>
</p>

<p>
  <strong>Endcontact:</strong>
  <%= @security_meeting_detail.EndContact %>
</p>

<p>
  <strong>Endstopflg:</strong>
  <%= @security_meeting_detail.EndStopFlg %>
</p>

<p>
  <strong>Endstop:</strong>
  <%= @security_meeting_detail.EndStop %>
</p>

<p>
  <strong>Changexx:</strong>
  <%= @security_meeting_detail.ChangeXX %>
</p>

<p>
  <strong>Changecontract:</strong>
  <%= @security_meeting_detail.ChangeContract %>
</p>

<p>
  <strong>Changedate:</strong>
  <%= @security_meeting_detail.ChangeDate %>
</p>

<p>
  <strong>Timeofday:</strong>
  <%= @security_meeting_detail.TimeOfDay %>
</p>

<p>
  <strong>Changecontents:</strong>
  <%= @security_meeting_detail.ChangeContents %>
</p>

<p>
  <strong>Notice:</strong>
  <%= @security_meeting_detail.Notice %>
</p>

<p>
  <strong>Withinlimitsworkkbn:</strong>
  <%= @security_meeting_detail.WithinLimitsWorkKbn %>
</p>

<p>
  <strong>Outofboundsworkkbn:</strong>
  <%= @security_meeting_detail.OutOfBoundsWorkKbn %>
</p>

<p>
  <strong>Proximityworkkbn:</strong>
  <%= @security_meeting_detail.ProximityWorkKbn %>
</p>

<p>
  <strong>Linecloseworkkbn:</strong>
  <%= @security_meeting_detail.LineCloseWorkKbn %>
</p>

<p>
  <strong>Ledworkkbn:</strong>
  <%= @security_meeting_detail.LEDWorkKbn %>
</p>

<p>
  <strong>Tckbn:</strong>
  <%= @security_meeting_detail.TCKbn %>
</p>

<p>
  <strong>Transceiverusekbn:</strong>
  <%= @security_meeting_detail.TransceiverUseKbn %>
</p>

<p>
  <strong>Safetyropeusekbn:</strong>
  <%= @security_meeting_detail.SafetyRopeUseKbn %>
</p>

<p>
  <strong>Orbitvariouscarsusekbn:</strong>
  <%= @security_meeting_detail.OrbitVariousCarsUseKbn %>
</p>

<p>
  <strong>Useresponsiblename:</strong>
  <%= @security_meeting_detail.UseResponsibleName %>
</p>

<%= link_to 'Edit', edit_security_meeting_detail_path(@security_meeting_detail) %> |
<%= link_to 'Back', security_meeting_details_path %>
